@page
@model TransformTemplateView.Pages.BookStore.IndexModel
@{
    ViewData["Title"] = "Index";
}

<section class="card">
    <h1 class="card-header">My BookStore!</h1>
    <ul class="list-group list-group-flush">
        @Html.DisplayFor(x => x.Components)
    </ul>
</section>


